@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@webpixels/css/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
	padding: 0.01rem;
}

.gradient-bottom-right {
	background: linear-gradient(135deg, #a855f7, #6366f1);
}

.bg-clip-text {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

