@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@webpixels/css/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set html and body to full height */
html, body {
	background-image: url('/wallpaper3.jpg'); /* No need to include 'public' */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	margin: 0;
	padding: 0;
  }


.navbar {
	padding: 0.01rem;
}

.gradient-bottom-right {
	background: linear-gradient(135deg, #94f6fa, #a4a2fd);
}

.bg-clip-text {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
